* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}
.header {
  display: flex;
  background: linear-gradient(90deg, rgb(88, 32, 116), rgb(149, 34, 195));
  justify-content: center;
  align-items: center;
}
.header img {
  width: 80px;
  padding: 10px 15px;
}
.header h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
}
main {
  margin-inline: auto;
  padding: 36px;
  max-width: 600px;
}
.form {
  display: grid;
  grid-template: auto auto / 1fr 1fr;
  gap: 15px;
  margin-bottom: 10px;
}
.form input {
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}
.form button {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90deg, rgb(88, 32, 116), rgb(149, 34, 195));
  color: white;
  border: none;
  cursor: pointer;
}
.form input,
.form button {
  min-height: 40px;
  font-family: "Karla", sans-serif;
}
.meme {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meme > img {
  max-width: 100%;
  min-width: 380px;
  height: auto;
  border-radius: 3px;
}
.meme span {
  position: absolute;
  text-align: center;
  margin-block: 15px;
  padding-inline: 5px;
  font-family: impact, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
.bottom {
  bottom: 0;
}
.top {
  top: 0;
}
.imageUploadLabel {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90deg, rgb(88, 32, 116), rgb(149, 34, 195));
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-weight: 100;
  text-align: center;
  font-size: small;
}
.imageUploadLabel:hover,
.form button:hover {
  background: linear-gradient(90deg, rgb(88, 32, 126), rgb(149, 34, 215));
}
.imageUpload {
  display: none;
}
.labels {
  font-weight: bold;
}
.download {
  display: flex;
  justify-content: center;

  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(90deg, rgb(88, 32, 116), rgb(149, 34, 195));
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: 100;
  text-align: center;
  font-size: small;
  margin: auto;
  margin-top: 10px;
}

@media (max-width: 450px) {
  .meme > img {
    min-width: 90%;
  }
  .meme span {
    font-size: 1.1rem;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
}
